%div.left-header
  = render partial: 'shared/left-header_link'
%div.right-header
  .form
    = form_for [ user, item ] do |f|
      .form-list
        = f.label :name, "品名"
        = f.text_field :name
      .form-list
        = f.label :characteristics, "特徴"
        = f.text_field :characteristics
      .form-list
        = f.label :image_id, "写真"
        = f.file_field :image_id, class: 'form-image__hidden'  
      = f.submit "Send"
      
      
      